.rodape {
    @include style;
    background-color: $cor-background-principal;

    .rodape__display {
        @include display;
    }

    .rodape__conteiner {

        display: flex;
        justify-content: space-between;
        padding: 2rem 0 2rem 0;
        position: relative;

        @media screen {
            @media (max-width: 709px) {
                flex-direction: column;
                text-align: center;

            }
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: rgba(114, 114, 126, 0.432);
        }

        .rodape__text__conteiner {

            display: flex;
            flex-direction: column;


            .rodape__text {
                padding-top: 1rem;
                font-size: 15px;
                font-weight: 300;
                color: $cor-texto-cinza;
            }
        }
    }

}